/*****
    Styling specific to the Ghost-UI documentation
    ---
    Most of this is to help Ghost-UI elements & components
    appear how they would when used in the correct context.
*****/

.docs-box {
    /*width: 100%;*/
    /*max-width: 1300px;*/
    margin: 70px 30px 30px;
    padding: 35px;
    background: #FFF;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px;
}

.docs-box pre {
    background: #f8f8f8;
    border-color: #eee;
}

#top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/*****
    Generic example wrapper
*****/

.gui-example {
    margin-bottom: 1em;
    padding: 3.5em 1.5em 1.5em 1.5em;
    position: relative;
    border: 1px solid #eee;
    border-radius: 3px;
}
.gui-example:before {
    content: 'Example';
    /*text-transform: uppercase;*/
    color: #aaa;
    background: #eee;
    line-height: 2;
    padding-left: 8px;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    word-spacing: 1px;
}
.gui-example[data-gui-title]:before {
    content: attr(data-gui-title);
}

.grid [class*='grid-'] {
    float: left;
}
.grid .grid-9 {
    width: 70%;
} 
.grid .grid-3 {
    width: 25%;
    margin-left: 5%;
}


/*****
    Doc element styling
*****/
.affix {
    position: fixed;
    top: 20px;
}


/*****
    Section fixes & styling
*****/

.notifications {
    position: relative !important;
}

.docs-color-list dt, .docs-color-list dd {
    padding: 5px 8px;
}
.docs-color-list dd {
    border-radius: 3px;
}


.gui-icons {

}
.gui-icons .gui-icon {
    width: 100%;
    max-width: 280px;
    float: left;
    /*outline: 1px solid red;*/
    padding: 10px;
}
.gui-icon .icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    /*outline: 1px solid blue;*/
    position: relative;
    float: left;
    margin-right: 10px;
}
.gui-icon .icon span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gui-icon .icon span:before {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gui-icon:hover .icon span:before {
    font-size: 26px;
}

.gui-icon .var {
    
}
.gui-icon .name {
    
}